---
- name: Deploy Backend Services
  shell: |
    for f in ../k8s/*.yaml; do
      envsubst < $f | kubectl apply -n lastmile -f -
    done
  environment:
    REGISTRY: "{{ registry | default('docker.io/harsh2835') }}"
    IMAGE_TAG: "{{ image_tag | default('latest') }}"
