apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: ${REGISTRY}/gateway-svc:latest
        imagePullPolicy: IfNotPresent
        command: ["python", "gateway.py"]
        env:
        - name: USER_ADDR
          value: "user-svc:50051"
        - name: STATION_ADDR
          value: "station-svc:50052"
        - name: DRIVER_ADDR
          value: "driver-svc:50053"
        - name: RIDER_ADDR
          value: "rider-svc:50054"
        - name: LOCATION_ADDR
          value: "location-svc:50058"
        - name: TRIP_ADDR
          value: "trip-svc:50055"
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: gateway-secrets
              key: MONGO_URI
        resources:
          requests:
            cpu: "100m"
          limits:
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  selector:
    app: gateway
  ports:
  - port: 5000
    targetPort: 5000