# ---
# - name: Prepare Jenkins node
#   hosts: jenkins
#   become: true
#   roles:
#     - common
#     - docker
#     - jenkins

# - name: Prepare Kubernetes control plane
#   hosts: controllers
#   become: true
#   roles:
#     - common
#     - docker
#     - k8s-control
#   post_tasks:
#     - name: Get join command
#       command: kubeadm token create --print-join-command
#       register: join_command_output

#     - name: Register join command
#       add_host:
#         name: "K8S_TOKEN_HOLDER"
#         join_command: "{{ join_command_output.stdout }}"

# - name: Prepare Kubernetes workers
#   hosts: workers
#   become: true
#   vars:
#     kube_join_command: "{{ hostvars['K8S_TOKEN_HOLDER']['join_command'] }}"
#   roles:
#     - common
#     - docker
#     - k8s-worker

- name: Deploy LastMile to Kubernetes
  hosts: controllers
  connection: local
  become: false
  roles:
    - app-deploy
