---
- name: Check if kubectl is installed
  command: kubectl version --client
  register: kubectl_check
  ignore_errors: yes

- name: Install kubectl if not installed
  block:
    - name: Download kubectl
      get_url:
        url: "https://dl.k8s.io/release/{{ lookup('url', 'https://dl.k8s.io/release/stable.txt') }}/bin/linux/amd64/kubectl"
        dest: /tmp/kubectl
        mode: '0755'
    
    - name: Move kubectl to /usr/local/bin
      become: yes
      command: mv /tmp/kubectl /usr/local/bin/kubectl
  when: kubectl_check.rc != 0
