---
- name: Deploy LastMile Application
  hosts: localhost
  connection: local
  tasks:
    - name: Create Namespace
      command: kubectl apply -f ../k8s/namespace.yaml

    - name: Create ELK Namespace
      command: kubectl create namespace elk
      ignore_errors: yes

    - name: Deploy ELK Stack
      command: kubectl apply -f ../k8s/elk/

    - name: Include Vault Secrets
      include_vars:
        file: secrets.yml

    - name: Create Gateway Secret
      shell: kubectl create secret generic gateway-secrets --from-literal=MONGO_URI={{ mongo_uri }} --dry-run=client -o yaml | kubectl apply -f - -n lastmile

    - name: Deploy Backend Services
      command: kubectl apply -n lastmile -f ../k8s/

    - name: Update Service Images
      command: >
        kubectl set image deployment/{{ item }} {{ item }}={{ registry }}/{{ item }}:{{ image_tag }} -n lastmile --record
      loop:
        - user-svc
        - station-svc
        - driver-svc
        - rider-svc
        - trip-svc
        - notification-svc
        - matching-svc
        - location-svc
      vars:
        registry: "{{ registry | default('docker.io/harsh2835') }}"
        image_tag: "{{ image_tag | default('latest') }}"

    - name: Update Gateway Image
      command: >
        kubectl set image deployment/gateway gateway={{ registry }}/gateway-svc:{{ image_tag }} -n lastmile --record
      vars:
        registry: "{{ registry | default('docker.io/harsh2835') }}"
        image_tag: "{{ image_tag | default('latest') }}"

    - name: Update Frontend Image
      command: >
        kubectl set image deployment/frontend frontend={{ registry }}/lastmile-frontend:{{ image_tag }} -n lastmile --record
      vars:
        registry: "{{ registry | default('docker.io/harsh2835') }}"
        image_tag: "{{ image_tag | default('latest') }}"
