---
- name: Deploy LastMile Application
  hosts: localhost
  connection: local
  tasks:
    - name: Check if kubectl is installed
      command: kubectl version --client
      register: kubectl_check
      ignore_errors: yes

    - name: Install kubectl if not installed
      block:
        - name: Download kubectl
          get_url:
            url: "https://dl.k8s.io/release/{{ lookup('url', 'https://dl.k8s.io/release/stable.txt') }}/bin/linux/amd64/kubectl"
            dest: /tmp/kubectl
            mode: '0755'
        
        - name: Move kubectl to /usr/local/bin
          become: yes
          command: mv /tmp/kubectl /usr/local/bin/kubectl
      when: kubectl_check.rc != 0

    - name: Check if Minikube is running
      command: minikube status
      register: minikube_check
      ignore_errors: yes

    - name: Start Minikube if not running
      command: minikube start
      when: minikube_check.rc != 0

    - name: Create Namespace
      command: kubectl apply -f ../k8s/namespace.yaml

    - name: Create ELK Namespace
      command: kubectl create namespace elk
      ignore_errors: yes

    - name: Deploy ELK Stack
      command: kubectl apply -f ../k8s/elk/

    - name: Include Vault Secrets
      include_vars:
        file: secrets.yml

    - name: Create Gateway Secret
      shell: kubectl create secret generic gateway-secrets --from-literal=MONGO_URI={{ mongo_uri }} --dry-run=client -o yaml | kubectl apply -f - -n lastmile

    - name: Deploy Backend Services
      command: kubectl apply -n lastmile -f ../k8s/

    - name: Update Service Images
      command: >
        kubectl set image deployment/{{ item }} {{ item }}={{ registry }}/{{ item }}:{{ image_tag }} -n lastmile
      loop:
        - user-svc
        - station-svc
        - driver-svc
        - rider-svc
        - trip-svc
        - notification-svc
        - matching-svc
        - location-svc
      vars:
        registry: "{{ registry | default('docker.io/harsh2835') }}"
        image_tag: "{{ image_tag | default('latest') }}"
      register: result
      until: result.rc == 0
      retries: 5
      delay: 10

    - name: Update Gateway Image
      command: >
        kubectl set image deployment/gateway gateway={{ registry }}/gateway-svc:{{ image_tag }} -n lastmile
      vars:
        registry: "{{ registry | default('docker.io/harsh2835') }}"
        image_tag: "{{ image_tag | default('latest') }}"
      register: result
      until: result.rc == 0
      retries: 5
      delay: 10

    - name: Update Frontend Image
      command: >
        kubectl set image deployment/frontend frontend={{ registry }}/lastmile-frontend:{{ image_tag }} -n lastmile
      vars:
        registry: "{{ registry | default('docker.io/harsh2835') }}"
        image_tag: "{{ image_tag | default('latest') }}"
      register: result
      until: result.rc == 0
      retries: 5
      delay: 10
